header {
  gap: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 0 43.67px 0 30px;
  justify-content: space-between;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);

  // LendSqr logo and Search bar wrapper
  & > div:first-child {
    gap: 20px;
    width: 100%;
    display: flex;
    max-width: 713px;
    align-items: center;
    justify-content: space-between;

    & > div:first-child {
      height: 30px;
      position: static;
      max-width: 144.8px;
      min-width: 144.8px;
    }
  }
}
