.search-bar {
  width: 100%;
  display: flex;
  max-width: 400px;
  align-items: center;
  justify-content: center;

  input {
    width: 100%;
    border-radius: 8px;
    background: #ffffff;
    padding: 11px 0 10px 20px;
    border: 1px solid #213f7d33;

    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &::placeholder {
      opacity: 0.7;
      font-size: 14px;
      font-weight: 400;
      color: #545f7d;
      line-height: 16px;
      font-style: normal;
      font-family: var(--font-work-sans-regular);
    }
  }

  button {
    width: 56px;
    height: 38px;
    border: none;
    display: flex;
    outline: none;
    align-items: center;
    background: #39cdcc;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    img {
      height: 14px;
      width: 13.97px;
    }
  }
}
