.table-container {
  margin-top: 40px;
  position: relative;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 30px 38.33px 0 30px;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    font-size: 12px;
    font-weight: 600;
    color: #545f7d;
    line-height: 14px;
    font-style: normal;
    text-transform: uppercase;
    font-family: var(--font-work-sans-regular);

    img {
      width: 15px;
      height: 15px;
    }

    div {
      gap: 10px;
      display: flex;
      align-items: center;
    }
  }

  td {
    color: #545f7d;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    width: 100vw;
    height: 17px;
    font-size: 14px;
    line-height: 17px;
    padding: 20px 10px 19px 0;
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);

    font-weight: 400;
    font-style: normal;
    font-family: var(--font-work-sans-regular);
  }

  tr > td:last-child > div {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;

    img {
      top: -2px;
      right: -6px;
      position: absolute;
    }
  }

  tr > td:first-child {
    max-width: 151px;
  }
  tr > td:nth-child(2) {
    max-width: 141px;
  }
  tr > td:nth-child(3) {
    max-width: 182px;
  }
  tr > td:nth-child(4) {
    max-width: 159px;
  }
  tr > td:nth-child(5) {
    max-width: 189px;
  }
  tr > td:nth-child(6) {
    width: 146.66px;
    padding-right: 0;
  }

  tbody > tr:last-child > td {
    border: none;
    padding-bottom: 37.8px;
  }
}
