@font-face {
  font-family: "Avanir Next Regular";
  src: url("../fonts/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "Avanir Next Bold";
  src: url("../fonts/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: "Avanir Next Light";
  src: url("../fonts/AvenirNextLTPro-It.otf");
}

@font-face {
  font-family: "Work Sans Regular";
  src: url("../fonts/WorkSans-Regular.ttf");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "SF Compact Text";
  src: url("../fonts/SFCompactText.otf");
}

:root {
  --active-status-toggle-color: #39cd62;
  --active-status-toggle-bgColor: #f3fcf6;
  --pending-status-toggle-color: #e9b200;
  --pending-status-toggle-bgColor: #fdf7e5;
  --inactive-status-toggle-color: #545f7d;
  --inactive-status-toggle-bgColor: #f5f5f7;
  --blacklisted-status-toggle-color: #e4033b;
  --blacklisted-status-toggle-bgColor: #fce6eb;

  --font-roboto-regular: "Roboto Regular";
  --font-sf-compact-text: "SF Compact Text";
  --font-avanir-next-bold: "Avanir Next bold";
  --font-avanir-next-light: "Avanir Next light";
  --font-work-sans-regular: "Work Sans Regular";
  --font-avanir-next-regular: "Avanir Next Regular";
}

// Reset styled for all Elements
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6f83aa83;
  // border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b300005e;
}
