.pagination {
  gap: 20px;
  display: flex;
  align-items: center;

  svg {
    width: 20px;
    height: 20px;
    stroke-width: 1;
    color: rgb(33 63 125);
  }

  div {
    width: 24px;
    height: 24px;
    display: flex;
    cursor: pointer;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    background: rgba(33, 63, 125, 0.1);
  }

  ul {
    gap: 20px;
    display: flex;
    align-items: center;
  }

  li {
    opacity: 0.6;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    list-style: none;
    color: #545f7d;
    line-height: 19px;
    font-style: normal;
    font-family: var(--font-work-sans-regular);
  }
}

.pagination-div {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 850px) {
    gap: 20px;
    justify-content: center;
  }
  @media screen and (max-width: 750px) {
    gap: 0;
    justify-content: space-between;
  }
  @media screen and (max-width: 570px) {
    gap: 20px;
    justify-content: center;
  }
}
